body {
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #16163F;
    background: #001034; /* Old browsers */
    background: -moz-linear-gradient(left,  #001034 0%, #002368 50%, #003180 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#001034), color-stop(50%,#002368), color-stop(100%,#003180)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #001034 0%,#002368 50%,#003180 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #001034 0%,#002368 50%,#003180 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #001034 0%,#002368 50%,#003180 100%); /* IE10+ */
    background: linear-gradient(to right,  #001034 0%,#002368 50%,#003180 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001034', endColorstr='#003180',GradientType=1 ); /* IE6-9 */
}
body.siteBackground {
    background:green;
    filter:alpha(opacity=100) /* For IE8 and earlier */
}
a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    clear: both;
    line-height: 1.6em;
    margin-bottom: 20px;
}

header,
footer,
nav,
section {
    display: block;
}

noscript {
    background:#ff0000;
    color:#000;
    font-size:1.1em;
    font-weight:bold;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
    margin: 0;
}

h4 {
    font-size: 1.1em;
    margin:0;
}

h5, h6 {
    font-size: 1em;
}
/*Description lists
    ------------------------------------*/
 
dl dt {
    font-weight:bold;
    margin-right:10px;
    width:100px;
}
 
dl{
    margin:2px 0;
    padding:5px 0;
}
dd {
    padding-left:20px;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #FCFA97;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 2px 2px 4px #000;
}

#main {
    padding: 30px;
    background-color: #fff;
    border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline-block;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border: 1px inset #F2F7FC;
    border-bottom: 0 none;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

.optionList {
    list-style-type: none;
     margin: 0;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    clear: left;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 1.5em;
    width:100%;
}

input[type="text"].search_init,
input[type="text"].text_filter{
    width:92%;
}
input[type="text"].date_range_filter {
    width:5.5em;
}
span.filter_date_range {
    width:5.7em;
    display:block;
}
input[type="text"].intlCode, input[type="text"].areaCode {
    width: 1.5em;
}
input[type="text"].localNo {
    width: 5.6em;
}
.phoneNumber div {
    display:inline-block;
    text-align:center;
    vertical-align: text-top;
}
.inputInfo {
    clear:left;
    color:#0000ff;
    font-size:9px;
    display:block;
}
input[type="text"], 
input[type="password"],
input[type="date"],
input[type="number"],
input[type="email"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #4F012A;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #56243E;
    max-width: 250px;
}

option:disabled {
    text-decoration: line-through;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
    clear: both;
    float: left;
    margin: 0.5em 0;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: 0 none;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: 0 none;
}

table.dataTable {
    border: solid 1px #e8eef4;
}

table.dataTable td {
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    border: solid 1px #e8eef4;
}
.numeric-row {
    text-align:right;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: #e0821d;
}

#logindisplay a:link {
    color: #f21515;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: #f21515;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: #f21515;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
    display:inline-block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label {
    font-weight: bold;
    padding: 1.1em 1em 0;
    text-align: right;
    vertical-align: top;
}

.display-field, .editor-field, .editor-validation {
    padding: 0.8em 0.8em 0;
    vertical-align: middle;
}
.editor-validation {
    padding: 0.8em 0 0;
    vertical-align: middle;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.buttonList 
{
    list-style:none;
    display:inline-block;
    padding:0;
    margin:0;   
}
.buttonList > li
{
    display:block;
}
.label-details {
  display: block;
  font-size: 0.7em;
  opacity: 0.7;
  text-align: right;
}

.select-details {
    color: Navy;
    font-size: 0.8em;
    display:inline-block;
}
.ui-dialog-content div.select-details {
    color:#ffffff;
}
input.linkButton {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: blue;
  font-size: 1em;
  margin: 0;
  cursor: pointer;
  text-decoration:underline;
}
input.placeholder[type="text"]{color:#aaa;}
input::-webkit-input-placeholder{color:#aaa;}
input:-moz-placeholder{color:#aaa;}
.upperCase{ text-transform: uppercase; }
#criteria {
  background-color: #ffff00;
}
/* Styles for Ajax related elements
----------------------------------------------------------*/

#ajaxRequest_processing {
    background-color: white;
    border: 1px solid #dddddd;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: fixed;
    z-index:1001;
    text-align: center;
    top: 50%;
    width: 250px;
    display:none;
}
/*----------------------------------------------------------*/
.hidableDiv {
    margin-top:-1px;
    border: 1px double #d3d3d3;
    padding: 0 1em 1em 1em;
}
.expando {
    font-size: 1.3em;
    color: #303d1a;
    padding: 0 5px 0 20px;
    border: 1px solid #d3d3d3;
    border-bottom-color: #ffffff;
    display: inline-block;
    cursor:pointer;
    background: rgb(179,190,173); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYmVhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2RmZTVkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZmZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(179,190,173,1) 0%, rgba(223,229,215,1) 35%, rgba(252,255,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,190,173,1)), color-stop(35%,rgba(223,229,215,1)), color-stop(100%,rgba(252,255,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 35%,rgba(252,255,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 35%,rgba(252,255,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 35%,rgba(252,255,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(179,190,173,1) 0%,rgba(223,229,215,1) 35%,rgba(252,255,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=0 ); /* IE6-8 */
}
.expandoToggle {
    display:inline-block;
    width:20px;
    margin-left:10px;
    border: none 0;
}
.expandoVisible {
    background: url(arrows.png) no-repeat right -20px;
}
.expandoHidden {
    background: url(arrows.png) no-repeat right top;
}
.note {
    font-size:0.9em;
    font-style: italic;
}
.stageActive, .stageDetailsRqd, .stageRespRqd, .stageHospDischRqd, .stageComplete {
    padding: 5px;
}
.stageActive {
    background-color:#90ee90;
}
.stageDetailsRqd{
    background-color:#ffa500;
}
.stageRespRqd{
    background-color:#fa8072;
} 
.stageHospDischRqd{
    background-color:#9acd32;
} 
.stageComplete{
    background-color:#e0ffff;
}
.notRequired {
    background-color:#bbb;
    text-align:center;
    vertical-align:middle;
    font-size:5em;
    color:#F98807;
    position:absolute;
    opacity:0.6;
    filter: Alpha(opacity=50);
}