@{
    ViewBag.Title = "Success";
}

<h2>Successfully Sent</h2>
<p>
    Thank you for your enquiry.
</p>
<p>
    @ViewBag.Recipient has been sent an email, and will endevour to answer your enquiry as soon as possible.
</p>
<p>
    Sincerely,<br>
    <em>The DAB Trial Team</em>
</p>