<div id="criteria">
    <h4>Inclusion Criteria</h4>
    <ol id="inclusionCriteria">
        <li>A clinical diagnosis of bronchiolitis, defined as a first or second episode of wheezing or respiratory distress associated with a respiratory tract infection plus either  radiological evidence of chest hyperinflation or clinical evidence of prolonged expiration</li>
        <li>Less than 18 months of age</li>
        <li>Admission to intensive care for respiratory distress (not apnoea alone)</li>
        <li>Recruitment and initiation of the study therapy within 4 hours  of admission to intensive care</li>
    </ol>
    <h4>Exclusion Criteria</h4>
    <ol id="exclusionCriteria">
        <li>Corrected gestational age of less than 37 weeks at time of admission to the intensive care</li>
        <li>Clinical evidence of croup (laryngotracheobronchitis)</li>
        <li>Immunosuppressive treatment, including any dose of corticosteroids in the last 7 days</li>
        <li>Previously enrolled in trial</li>
        <li>On High Frequency Oscillation Ventilation or Extra-Corporeal Life Support at the time of recruitment</li>
    </ol>
</div>