<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Used to initialize the database-->
    <!-- <add key="DatabaseInitializerForType DabTrial.DataContext, BronchiolitisTrial" value="DabTrial.DataContextInitializer, BronchiolitisTrial" /> -->
  </appSettings>
  <system.web>
    <!--Replace your existing membership config with this one-->
    <membership>
      <providers>
        <add name="CodeFirstMembershipProvider" type="CodeFirstMembershipProvider" connectionStringName="DataContext" />
      </providers>
    </membership>
    <!--Profile provider not supported, extend your code with Code-First-->
    <!--Replace your existing roleManager config with this one-->
    <roleManager>
      <providers>
        <add name="CodeFirstRoleProvider" type="CodeFirstRoleProvider" connectionStringName="DataContext" />
      </providers>
    </roleManager>
  </system.web>
</configuration>