@{
    ViewBag.Title = "Error";
}

<h2>Error in application</h2>

<p>
    Unfortunately an error has occured in the application, and your last request cannot be completed.
</p>
<p>
    An error has been logged, and we will attempt to resolve the cause of the problem.
</p>
<p>
    Appologies for any inconvenience caused.
</p>
<p>
    Sincerely,
</p>
<p>
    The DAB trial team.
</p>