<p>
    <em>Thank you for your ongoing contribution to the trial.</em>
</p>
<p>
    Sincerely,
</p>
<p>
    <a href="maito:Ben.Gelbart@rch.org.au">Ben Gelbart</a>, <a href="mailto:brentm@adhb.govt.nz" >Brent McSharry</a> and the rest of the DAB trial team.
</p>