@model DabTrial.Models.ForwardMailInvestigator
To: @Model.To
From: @Model.From
Subject:DAB trial forwarded enquiry (re:@Model.Subject)

<p>
    An enquiry was entered in the dabtrial website:
</p>

<div style="border:double 4px navy;white-space: pre-line">
    "@Model.Message"
</div>



