@{
    ViewBag.Title = "DAB Trial";
}

<h2>Welcome to the Dexamethasone and Adrenaline for Bronchiolitis (DAB) Trial</h2>
<p>
    This trial is registered with the  <a href="https://www.anzctr.org.au/Trial/Registration/TrialReview.aspx?ACTRN=12613000316707" title="ANZ Trials Registry Page for This Study">Australia New Zealand Clinical Trials Registry</a> with registration number 12613000316707.
</p>
<p>
    For further details, please use our @Html.ActionLink("contact page","Index","ContactUs").
</p>
