@using Mvc.JQuery.DataTables
@using DabTrial.Controllers
@model DataTableConfigVm
@{
    Html.Assets().AddHeaderScript("~/Scripts/EditableDataTable.js");
    Html.Assets().Libraries.Uses("MvcDataTables", "jQueryUI");
    
    //Html.DataTableIncludes(jqueryUi: true);

}

<h3>All Screened Patients</h3>
@Html.Partial("DataTable", Model)
